*{
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
    padding:0px ;
}
html{
    scroll-behavior: smooth;
}
.board{
    overflow-x:hidden;
    overflow-y:hidden;
}
hr{
    border-top-width:3px ;
}
body{
    background-color: #f5f3f3;
    overflow-x: hidden;
}

.ral{
    font-family: 'Raleway', sans-serif;
}
.sh{
    box-shadow:-2px 4px 18px 0px #0000000a;
}
/* img{
    position: relative;
    z-index: 40;
} */
.sqr{
    border-top-left-radius:20px ;
    border-bottom-right-radius: 20px;
}
.tr{
    transform: translate(1px,-51px);
    box-shadow: 0px 8px 24px 0px rgba(91, 158, 225, 0.60);
    position: relative;
    z-index: 40;
}